<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>
    <div class="container">
        <FORM>
        <h1>Veuillez saisir le nombre de tour :</h1>
        <input type="text" name="sethu" id="hu" />
        <input type="button" value="send HU code" onclick="getHU();" />
        <a th:href="@{/creation/{nb_tour}(nb_tour=${nb_tour})}">nb_tour</a>
       </FORM>
    </div>
    <script language="javascript">
        function getHU() {
            hu = document.getElementById("hu").innerHTML;
            alert(hu);
        }
    </script>
    </body>
</html>
