<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Bienvenu sur le Jeu Du Dilemme</h1>
    <a type="button" class="btn btn-lg btn-default" href="https://serveur-pc.herokuapp.com/db"><span class="glyphicon glyphicon-flash"></span>COOPERER</a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span>TRAHIR</a>
    <a type="button" class="btn btn-lg btn-primary" href="">Strategie</a>

  </div>
</div>


</body>
</html>
